<div id="contact" class="pane">

	<div class="description">
		<% @contact_infos.each do |info_snippet| %>
			<span class="title"><%= info_snippet.title %></span><br />
			<%= simple_format info_snippet.body %><br />
		<% end %>
	</div>

	<%= render :partial => "google_map" %>

	<% @contact.errors.full_messages.each do |msg| %>
      <div class="mailing_list_form_error"><%= msg %></div>
    <% end %>

	<div class="description mailing_list_form">
		<span class="title">Add me to the mailing list</span>
		<%= form_for @contact, :url => contact_infos_path, :html => {:method => :post} do |f| %>
		  	<%= f.label :email %>:
		  	<%= f.text_field :email %>
		  	<%= f.submit "Add me", :id => "submit_mailing_list_contact" %>
		<% end %>
	</div>
</div>