<div class="exhibition">
	<div class="info">
		<%= render :partial => "info", :locals => { :exhibition => exhibition } %>
		<%= render :partial => "shared/thumbnails", :locals => { :showcase_images => exhibition.exhibition_images.ordered } %>
		<div class="description">
			<%= simple_format exhibition.description %>
			<p>
				<%= render :partial => "press_release_and_poster", :locals => { :exhibition => exhibition } %>
				<%= render :partial => "shared/label", :locals => { :showcase_image => exhibition.exhibition_images.ordered.first } %>
			</p>
		</div>
	</div>	
	<%= render :partial => "shared/showcase_image", :locals => { :showcase_image => exhibition.exhibition_images.ordered.first } %>
</div>
<div class="fleuron">&#10086;</div>