<div class="exhibition">
	<div class="info">
		<%= render :partial => "info", :locals => { :exhibition => exhibition } %>
		<%= render :partial => "thumbnails", :locals => { :exhibition => exhibition} %>
		<div class="description">
			<%= simple_format exhibition.description %>
			<p>
				<%= render :partial => "press_release_and_poster", :locals => { :exhibition => exhibition } %>
				<%= render :partial => "label", :locals => { :exhibition => exhibition } %>
			</p>
		</div>
	</div>	
	<%= render :partial => "full_size_work_image", :locals => { :exhibition => exhibition } %>
</div>
