<span class="label">
	<% first_exhibition_image = exhibition.exhibition_images.ordered.first %>
	<%= first_exhibition_image.artist %><br />
	<span class="work_title"><%= first_exhibition_image.title %></span>, 
	<%= first_exhibition_image.year %><br />
	<%= first_exhibition_image.media %><br />
	<%= first_exhibition_image.dimensions %>
</span>