<span class="label">
	<%= get_artist_name showcase_image %><br />
	<span class="work_title"><%= showcase_image.title %></span>, 
	<%= showcase_image.year %><br />
	<%= showcase_image.media %><br />
	<%= showcase_image.dimensions %>
</span>