<div id="logo">
	<%= image_tag "red_arrow_logo.png" %>
</div>

<div id="nav">
	<%= link_to "HOME", root_url, :class => "nav_button" %>
	<%= link_to "EXHIBITIONS", exhibitions_path, :class => "nav_button" %>
	<%= link_to "ARTISTS", artists_path, :class => "nav_button" %>
	<%= link_to "CONTACT", contact_infos_path, :class => "nav_button" %>
	<%= link_to "ABOUT", about_infos_path, :class => "nav_button" %>
</div>