<!DOCTYPE html>
<html>
<head>
  <title> Red Arrow Art Gallery </title>

  <%= favicon_link_tag '/assets/favicon.ico' %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag 	 "http://fonts.googleapis.com/css?family=Poiret+One", :media => "all" %>

  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>

</head>
<body>
	<% if flash[:notice] %>
		<div class="flash_notice"><%= flash[:notice] %></div>
	<% end %>
	<% if flash[:error] %>
		<div class="flash_error"><%= flash[:error] %></div>
	<% end %>
	<% if flash[:alert] %>
		<div class="flash_error"><%= flash[:alert] %></div>
	<% end %>

	<%= render "shared/navigation_and_logo" %>

	<div id="port">
		<%= yield %>
	</div>

	<%= render "shared/gallery_information_footer" %>

</body>
</html>
